<html>
<head>
    <title>007 James Bond Books</title>
</head>
<body>
    <h2>007 James Bond Books</h2>
    <h1>edit</h1>
    <input name="title" value="$model.title">
    <a href="../../books">back to list</a>
    <a href="../$model.id">back</a>
</body>
</html>